.empty-state-container {
  text-align: center;
  padding: 3rem;
  margin-top: 2rem;
}
.empty-state-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.empty-state-container p {
  font-size: 1.1rem;
  color: var(--secondary-color);
}
.tools-link {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}
.tools-link:hover {
  text-decoration: underline;
}