.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: var(--text-muted);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--secondary);
  border-top: 5px solid var(--primary);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  margin-bottom: 1rem;
}